.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs
compile
compilePDF
pkgdown
_pkgdown.yml
src/*.o
src/*.so
vignettes/modelFitting_cache
vignettes/modelFitting_files
vignettes/randomEffects_cache
vignettes/randomEffects_files
vignettes/factorModels_files
vignettes/factorModels_cache
vignettes/dataFormatting_cache
vignettes/dataFormatting_files
vignettes/spaceTimeModels_cache
vignettes/spaceTimeModels_files
vignettes/spaceTimeModelsHTML_cache
vignettes/spaceTimeModelsHTML_files
vignettes/svcUnivariate_cache
vignettes/svcUnivariate_files
*.swp
