useDynLib(spOccupancy, .registration=TRUE)

export(PGOcc)
export(simOcc)
export(spPGOcc)
export(simMsOcc)
export(msPGOcc)
export(spMsPGOcc)
export(simIntOcc)
export(intPGOcc)
export(spIntPGOcc)
export(lfMsPGOcc)
export(sfMsPGOcc)
export(lfJSDM)
export(sfJSDM)
export(simTOcc)
export(tPGOcc)
export(stPGOcc)
export(ppcOcc)
export(waicOcc)
export(simBinom)
export(svcPGBinom)
export(svcPGOcc)
export(simTBinom)
export(svcTPGBinom)
export(svcTPGOcc)
export(getSVCSamples)

S3method("predict", "PGOcc")
S3method("print", "PGOcc")
S3method("fitted", "PGOcc")
S3method("summary", "PGOcc")

S3method("summary", "ppcOcc")

S3method("predict", "spPGOcc")
S3method("print", "spPGOcc")
S3method("fitted", "spPGOcc")
S3method("summary", "spPGOcc")

S3method("predict", "msPGOcc")
S3method("print", "msPGOcc")
S3method("fitted", "msPGOcc")
S3method("summary", "msPGOcc")

S3method("predict", "spMsPGOcc")
S3method("print", "spMsPGOcc")
S3method("fitted", "spMsPGOcc")
S3method("summary", "spMsPGOcc")

S3method("predict", "intPGOcc")
S3method("print", "intPGOcc")
S3method("fitted", "intPGOcc")
S3method("summary", "intPGOcc")

S3method("predict", "spIntPGOcc")
S3method("print", "spIntPGOcc")
S3method("fitted", "spIntPGOcc")
S3method("summary", "spIntPGOcc")

S3method("predict", "lfMsPGOcc")
S3method("print", "lfMsPGOcc")
S3method("fitted", "lfMsPGOcc")
S3method("summary", "lfMsPGOcc")

S3method("predict", "sfMsPGOcc")
S3method("print", "sfMsPGOcc")
S3method("fitted", "sfMsPGOcc")
S3method("summary", "sfMsPGOcc")

S3method("predict", "lfJSDM")
S3method("print", "lfJSDM")
S3method("fitted", "lfJSDM")
S3method("summary", "lfJSDM")

S3method("predict", "sfJSDM")
S3method("print", "sfJSDM")
S3method("fitted", "sfJSDM")
S3method("summary", "sfJSDM")

S3method("predict", "tPGOcc")
S3method("print", "tPGOcc")
S3method("fitted", "tPGOcc")
S3method("summary", "tPGOcc")

S3method("predict", "stPGOcc")
S3method("print", "stPGOcc")
S3method("fitted", "stPGOcc")
S3method("summary", "stPGOcc")

S3method("predict", "svcPGBinom")
S3method("print", "svcPGBinom")
S3method("fitted", "svcPGBinom")
S3method("summary", "svcPGBinom")

S3method("predict", "svcPGOcc")
S3method("print", "svcPGOcc")
S3method("fitted", "svcPGOcc")
S3method("summary", "svcPGOcc")

S3method("predict", "svcTPGBinom")
S3method("print", "svcTPGBinom")
S3method("fitted", "svcTPGBinom")
S3method("summary", "svcTPGBinom")

S3method("predict", "svcTPGOcc")
S3method("print", "svcTPGOcc")
S3method("fitted", "svcTPGOcc")
S3method("summary", "svcTPGOcc")

importFrom("stats", "dist", "rbinom", "rnorm", "coefficients", "glm", "is.empty.model", "model.matrix", "model.response", "terms", "runif", "quantile", "dbinom", "var", "rgamma", "sd")
importFrom("coda", "mcmc", "gelman.diag", "mcmc.list", "effectiveSize")
importFrom("abind", "abind")
importFrom("RANN", "nn2")
importFrom("lme4", "findbars", "mkReTrms", "nobars")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")
importFrom("methods", "is")
